.markdown-rendered h1, .cm-line .cm-header-1 { font-size: 2em !important; }
.markdown-rendered h2, .cm-line .cm-header-2 { font-size: 1.6em !important; }
.markdown-rendered h3, .cm-line .cm-header-3 { font-size: 1.3em !important; }
.markdown-rendered h4, .cm-line .cm-header-4 { font-size: 1.1em !important; }